@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* carousol  */
/* .carousel-item {
  background-size: cover;
} */
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background: #121212;
  opacity: 0.5;
}

/* .carousel-caption {
  bottom: 7rem;
} */
/* cources */
.card {
  max-width: 800px !important;
}

/* carousol fix for small devices  */

@media (max-width: 768px) {
  .carousel-item img {
    object-fit: cover;
    height: 70vh;
  }
  .com {
    display: none;
  }
}

@media (max-width: 990px) {
  .carousel-item img {
    object-fit: cover;
    height: 70vh;
  }
  .com {
    display: none;
  }
}
